<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

{% endcomment %}
<a href="{{ product.url | within: collection }}">
	<div class="grid__item grid-product{% if sold_out %} is-sold-out{% endif %}">
		<div class="yali_collection__product--primary" style="background:url({{ product.images[0] | img_url: 'original' }}) center center no-repeat; background-size:cover;"></div>
		<div class="yali_collection__product--rollover" style="background:url({{ product.images[1] | img_url: 'original' }}) center center no-repeat; background-size:cover;"></div>
		<div class="yali_collection__product--meta">
			<div class="yali_collection__product--meta--title">
				{{ product.title }}
			</div>
			<div class="yali_collection__product--meta--price">
				{{ product.price_min | money_without_trailing_zeros }}
			</div>
			<div class="clear"></div>
		</div>
	</div>
</a>