{% if settings.show_announcement %}
	<div style="background:{{ settings.background_color }}" class="yali_announcement">
		<div class="yali_announcement__relativewrap">
			<a href="{{ settings.announcement_link }}" class="yali_announcement__link">
				{{ settings.announcement_text }}
			</a>
			<button id="yali_announcement__close">
				<i class="fal fa-times"></i>
			</button>
		</div>
	</div>
{% endif %}

<button id="yali_mobile__trigger">
	<i class="fas fa-ellipsis-v"></i>
</button>

<div data-section-id="{{ section.id }}" data-section-type="header-section" data-template="{{ template.name }}">
	<header class="yali_header site-header desktop {% if settings.show_announcement %} announcement {% endif %}" role="banner">
		<nav class="yali_header__element--nav">
			<ul class="nav navbar-nav">
			{% for link in linklists[section.settings.main_menu_link_list].links %}
				{% assign child_list_handle = link.title | handleize %}
				{% if linklists[child_list_handle].links != blank %}
					<li class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">
							<span class="nav-label">{{ link.title | escape }}</span><span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						{% for childlink in linklists[child_list_handle].links %}
							<li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
						{% endfor %}
						</ul>
					</li>
				{% else %}
					<li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</nav>
		<div class="yali_header__element--logo">
			<a href="/">
				<img src="{{ section.settings.logo | img_url: 'original' }}" alt="Yali Tribe Logo">
			</a>
		</div>
		<nav class="yali_header__element--nav">
			<ul class="nav navbar-nav">
			{% for link in linklists[section.settings.secondary_menu_link_list].links %}
				{% assign child_list_handle = link.title | handleize %}
				{% if linklists[child_list_handle].links != blank %}
					<li class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">
							<span class="nav-label">{{ link.title | escape }}</span><span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						{% for childlink in linklists[child_list_handle].links %}
							<li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
						{% endfor %}
						</ul>
					</li>
				{% else %}
					<li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
				{% endif %}
			{% endfor %}
				<li class="site-nav__item site-nav__item--compressed">
					<a href="/cart" class="site-nav__link site-nav__link--icon cart-link js-drawer-open-button-right" aria-controls="CartDrawer">
						<span class="icon-fallback-text">
						<span class="icon icon-cart" aria-hidden="true"></span>
						<span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
						</span>
						<span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"></span>
					</a>
				</li>
			</ul>
		</nav>
	</header>
	<header class="yali_header mobile site-header minimized {% if settings.show_announcement %} announcement {% endif %}" role="banner">
		<div class="yali_header__element--logo">
			<a href="/">
				<img src="{{ section.settings.logo | img_url: 'original' }}" alt="Yali Tribe Logo">
			</a>
		</div>
		<div class="yali_header__element--menus">
			<nav class="yali_header__element--nav">
				<ul class="nav navbar-nav">
				{% for link in linklists[section.settings.main_menu_link_list].links %}
					{% assign child_list_handle = link.title | handleize %}
					{% if linklists[child_list_handle].links != blank %}
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								<span class="nav-label">{{ link.title | escape }}</span><span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							{% for childlink in linklists[child_list_handle].links %}
								<li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
							{% endfor %}
							</ul>
						</li>
					{% else %}
						<li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
					{% endif %}
				{% endfor %}
				</ul>
			</nav>
			<nav class="yali_header__element--nav">
				<ul class="nav navbar-nav">
				{% for link in linklists[section.settings.secondary_menu_link_list].links %}
					{% assign child_list_handle = link.title | handleize %}
					{% if linklists[child_list_handle].links != blank %}
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								<span class="nav-label">{{ link.title | escape }}</span><span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							{% for childlink in linklists[child_list_handle].links %}
								<li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
							{% endfor %}
							</ul>
						</li>
					{% else %}
						<li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
					{% endif %}
				{% endfor %}
					<li class="site-nav__item site-nav__item--compressed">
						<a href="/cart" class="site-nav__link site-nav__link--icon cart-link js-drawer-open-button-right" aria-controls="CartDrawer">
							<span class="icon-fallback-text">
							<span class="icon icon-cart" aria-hidden="true"></span>
							<span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
							</span>
							<span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"></span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
</div>

{% schema %}
{
  "name": {
    "de": "Header",
    "en": "Header",
    "es": "Encabezado",
    "fr": "En-tête",
    "it": "header",
    "ja": "ヘッダー",
    "nl": "Koptekst",
    "pt-BR": "Cabeçalho",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "main_menu_link_list",
      "label": "Main Menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu_link_list",
      "label": "Secondary Menu"
    }
  ]
}
{% endschema %}