<!-- /templates/blog.liquid -->
{% paginate blog.articles by 9 %}


   <header class="section-header text-center">
      <h1>
        {% if current_tags %}
          {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
        {% else %}
          {{ blog.title }}
        {% endif %}
        <a href="{{ shop.url }}{{ blog.url }}.atom" class="icon-fallback-text rss-link">
          <span class="icon icon-rss" aria-hidden="true"></span>
          <span class="fallback-text">RSS</span>
        </a>
      </h1>
      <hr class="hr--small">
    </header>

<div class="yali_blog">
    {% for article in blog.articles %}
      {% assign article_content = article.excerpt_or_content %}
          {% unless article.image == blank %}
            <div class="yali_blog__thumbnail">
              <a class="" href="{{ article.url }}">
                <noscript>
                  {{ article.image | img_url: '2048x2048' | img_tag: article.title | escape }}
                </noscript>
                <div class="article__featured-image-wrapper" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                  {% assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                  <img class="article__featured-image lazyload"
                    src="{{ article.image | img_url: '300x300' }}"
                    data-src="{{ img_url }}"
                    data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ article.image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ article.title | escape }}">
                </div>
              </a>
            </div>
          {% endunless %}
      {%comment%}{% unless forloop.last %}<hr class="hr--clear">{% endunless %}{%endcomment%}
    {% endfor %}
    <div class="clear"></div>
</div>

  {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}

{% endpaginate %}
